.Recievedmessages{
    // height: 100vh;
    p{
     color: var(--dark);
     margin-left: 10px;
     height: 50px;
     width: fit-content;
     background-color: grey;
     padding: 10px;
     border-radius: var(--border-radius);
     margin-top: 15px;
     margin-right: auto;
    }
}